name: Build_Test

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    branches:
      - main
      - dev
    paths-ignore:
      - '**.md'
  push:
    branches:
      - '*'
      - '!main'
      - '!dev'
    paths-ignore:
      - '**.md'

jobs:
  build:
    name: Test build docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
        with:
          install: true
          version: latest
          driver-opts: image=moby/buildkit:master
      - name: Build docker image
        run: |
          docker build . 
